@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Inter&display=swap");
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-RegularItalic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-SemiboldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("src/assets/fonts/SF-Pro-Display-UltralightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-RegularItalic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PP Mori";
  src: url("src/assets/fonts/PPMori/PPMori-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b from-[#02CCFE] from-0% via-white via-[26%] to-white to-100% min-h-screen;
  }

  .dark body {
    @apply bg-night-sky bg-starry-night bg-repeat min-h-screen;
  }
}

@layer components {
  .primary-btn {
    @apply inline bg-primary text-white  sm:text-[md] md:text-[lg] lg:text-[xl] font-Space_Grotesk font-bold    py-2 px-6;
  }
}
@layer utilities {
  .drop-shadow {
    filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.5));
  }
}
@keyframes moveLeftToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}
